@tailwind base;

h1 {
	@apply text-2xl;
}
h2 {
	@apply text-xl;
}
h3 {
	@apply text-lg;
}


@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
	@apply .bg-gray-900 .text-white .font-open;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar, .list-countries::-webkit-scrollbar {
	display: none;
}


.list-countries::-webkit-scrollbar-track {
  background-color: transparent;
}

.list-countries::-webkit-scrollbar {
  background-color: transparent;
}

.list-countries::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.list-countries {
	-ms-overflow-style: none;
}

.__bar-is-vertical {
	left: -2px !important;
}

.__rail-is-horizontal {
	display: none !important;
}

#chartmap {
	@apply .min-h-400	
}

@screen md {
	#chartmap {
		@apply .h-full	
	}
}
.toasted-container {
	min-width: auto !important;
}

.toasted-container .toasted {
	@apply .text-xs !important;
}

@screen sm {
	.toasted-container {
		min-width: auto !important;
	}
}

@screen md {
	.toasted-container .toasted{
		@apply .text-sm	!important;
	}

	.toasted-container {
		min-width: auto !important;
	}
}


.toasted-container.top-center {
	top: 0% !important;
    left: 50% !important;
    -webkit-transform: translateX(-50%) !important;
    transform: translateX(-50%) !important;
}

.toasted .primary, .toasted.toasted-primary{
	@apply .bg-blue-900 .rounded-lg !important
}

.list-height {
	height: calc(100vh - 180px)
}

.search {
	@apply .bg-gray-900 .px-4 .rounded-md;
    flex: 1;
    /*background: 0 0;*/
    border: none;
    color: #7f8197;
    font-size: 15px;
    height: 45px;
}

.help-list li{
	@apply .my-2;
}

/*.country-flag{
	flex-grow: 0;
}
*/

.country-list > div:not(.country-flag){
	flex-grow: 1;
    flex-basis: 0;
}


.top {
	margin: 0 auto;
	display: table;
}

/*Animations*/

.fade-enter-active,
.fade-leave-active {
	transition: all 0.6s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.svg_logo {
    width: 100%;
    height: 100%;
}


/*
g[role="menuitem"] > circle {
	animation-duration: 2s;
	animation-name: pulse;
	animation-iteration-count: 1;
}

@keyframes pulse {
	from {
		fill-opacity: 0.5;
		transform: scale(0.3);
		stroke-opacity: 1;
	}
	to {
		stroke-width: 0;
		fill-opacity: 1;
		transform: scale(1);
	}
}*/