@tailwind base;

h1 {
	@apply text-2xl;
}
h2 {
	@apply text-xl;
}
h3 {
	@apply text-lg;
}


@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
	@apply .bg-gray-900 .text-white .font-open;
}

.list-height {
	height: calc(100vh - 180px)
}

.search {
	@apply .bg-gray-900 .px-4 .rounded-md;
    flex: 1;
    /*background: 0 0;*/
    border: none;
    color: #7f8197;
    font-size: 15px;
    height: 45px;
}

.help-list li{
	@apply .my-2;
}

/*Animations*/

.fade-enter-active,
.fade-leave-active {
	transition: all 0.6s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}


/*
g[role="menuitem"] > circle {
	animation-duration: 2s;
	animation-name: pulse;
	animation-iteration-count: 1;
}

@keyframes pulse {
	from {
		fill-opacity: 0.5;
		transform: scale(0.3);
		stroke-opacity: 1;
	}
	to {
		stroke-width: 0;
		fill-opacity: 1;
		transform: scale(1);
	}
}*/